{
    "openapi": "3.0.0",
    "info": {
        "title": "phpList API Documentation",
        "description": "This is the OpenAPI documentation for phpList API.",
        "contact": {
            "email": "support@phplist.com"
        },
        "license": {
            "name": "AGPL-3.0-or-later",
            "url": "https://www.gnu.org/licenses/agpl.txt"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://www.phplist.com/api/v2",
            "description": "Production server"
        }
    ],
    "paths": {
        "/campaigns": {
            "get": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Gets a list of all campaigns.",
                "description": "Returns a JSON list of all campaigns/messages.",
                "operationId": "6a3f46e69e2963faa4a81a5dcb65a439",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Message"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Create a message for campaign.",
                "description": "Returns created message.",
                "operationId": "0319d1013c704f8035533cd671a8f018",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a new message.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "template_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "message_content": {
                                        "$ref": "#/components/schemas/MessageContentRequest"
                                    },
                                    "message_format": {
                                        "$ref": "#/components/schemas/MessageFormatRequest"
                                    },
                                    "message_metadata": {
                                        "$ref": "#/components/schemas/MessageMetadataRequest"
                                    },
                                    "message_schedule": {
                                        "$ref": "#/components/schemas/MessageScheduleRequest"
                                    },
                                    "message_options": {
                                        "$ref": "#/components/schemas/MessageOptionsRequest"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{messageId}": {
            "get": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Gets a campaign by id.",
                "description": "Returns campaign/message by id.",
                "operationId": "a505b5fd32721479dfb0d72198a467f8",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "campaigns"
                ],
                "summary": "Update campaign by id.",
                "description": "Updates campaign/message by id.",
                "operationId": "8b488555b144236663efdebe1ea71ee6",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "message ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update message.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "template_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "message_content": {
                                        "$ref": "#/components/schemas/MessageContentRequest"
                                    },
                                    "message_format": {
                                        "$ref": "#/components/schemas/MessageFormatRequest"
                                    },
                                    "message_schedule": {
                                        "$ref": "#/components/schemas/MessageScheduleRequest"
                                    },
                                    "message_options": {
                                        "$ref": "#/components/schemas/MessageOptionsRequest"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/lists": {
            "get": {
                "tags": [
                    "lists"
                ],
                "summary": "Gets a list of all subscriber lists.",
                "description": "Returns a JSON list of all subscriber lists.",
                "operationId": "81c74c22179cb7ac081aa6e77b9f6631",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "example": "News"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "News (and some fun stuff)"
                                            },
                                            "creation_date": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2016-06-22T15:01:17+00:00"
                                            },
                                            "list_position": {
                                                "type": "integer",
                                                "example": 12
                                            },
                                            "subject_prefix": {
                                                "type": "string",
                                                "example": "phpList"
                                            },
                                            "public": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "category": {
                                                "type": "string",
                                                "example": "news"
                                            },
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "lists"
                ],
                "summary": "Create a subscriber list.",
                "description": "Returns created list.",
                "operationId": "e09afbd99b3165a76c144fd324c2a626",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass parameters to create a new subscriber list.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "News"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "News (and some fun stuff)"
                                    },
                                    "list_position": {
                                        "type": "number",
                                        "example": 12
                                    },
                                    "public": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "name": "News",
                                    "description": "News (and some fun stuff)",
                                    "creation_date": "2016-06-22T15:01:17+00:00",
                                    "list_position": 12,
                                    "subject_prefix": "phpList",
                                    "public": true,
                                    "category": "news",
                                    "id": 1
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/lists/{listId}": {
            "get": {
                "tags": [
                    "lists"
                ],
                "summary": "Gets a subscriber list.",
                "description": "Returns a single subscriber list with specified ID.",
                "operationId": "f5d26161429d82b84e1210a7e4f885f7",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "List ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "name": "News",
                                    "description": "News (and some fun stuff)",
                                    "creation_date": "2016-06-22T15:01:17+00:00",
                                    "list_position": 12,
                                    "subject_prefix": "phpList",
                                    "public": true,
                                    "category": "news",
                                    "id": 1
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "There is no list with that ID."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "lists"
                ],
                "summary": "Deletes a list.",
                "description": "Deletes a single subscriber list.",
                "operationId": "baa72cde782863de1f53e89dfbd93e42",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "List ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "There is no session with that ID."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sessions": {
            "post": {
                "tags": [
                    "sessions"
                ],
                "summary": "Log in or create new session.",
                "description": "Given valid login data, this will generate a login token that will be valid for 1 hour.",
                "operationId": "08336f63605d853592fc942e7c13fcd7",
                "requestBody": {
                    "description": "Pass session credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "login_name",
                                    "password"
                                ],
                                "properties": {
                                    "login_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "admin"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "eetIc/Gropvoc1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1234
                                        },
                                        "key": {
                                            "type": "string",
                                            "example": "2cfe100561473c6cdd99c9e2f26fa974"
                                        },
                                        "expiry": {
                                            "type": "string",
                                            "example": "2017-07-20T18:22:48+00:00"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not authorized."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sessions/{sessionId}": {
            "delete": {
                "tags": [
                    "sessions"
                ],
                "summary": "Delete a session.",
                "description": "Delete the session passed as a parameter.",
                "operationId": "e3df844b3f4eee57da8d6ca631d95562",
                "parameters": [
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "Session ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "There is no session with that ID."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscribers": {
            "post": {
                "tags": [
                    "subscribers"
                ],
                "summary": "Create a subscriber",
                "description": "Creates a new subscriber (if there is no subscriber with the given email address yet).",
                "operationId": "4e85ac96ab6623057c838686fa747356",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass session credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "admin@example.com"
                                    },
                                    "request_confirmation": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "html_email": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscriber"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlreadyExistsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscribers/{subscriberId}": {
            "get": {
                "tags": [
                    "subscribers"
                ],
                "summary": "Get a subscriber",
                "description": "Get subscriber data by id.",
                "operationId": "e4a8f8b93bce6d3b2a0aa018ac9d6380",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriberId",
                        "in": "path",
                        "description": "Subscriber ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscriber"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "subscribers"
                ],
                "summary": "Update subscriber",
                "description": "Update subscriber data by id.",
                "operationId": "dbb055b95280a8d649d7ab6cf3caf812",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriberId",
                        "in": "path",
                        "description": "Subscriber ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass session credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "admin@example.com"
                                    },
                                    "confirmed": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "blacklisted": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "html_email": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "disabled": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "additional_data": {
                                        "type": "string",
                                        "example": "asdf"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscriber"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "subscribers"
                ],
                "summary": "Delete subscriber",
                "description": "Delete subscriber by id.",
                "operationId": "2efff15ebb752fb10a5070474157ed88",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriberId",
                        "in": "path",
                        "description": "Subscriber ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/lists/{listId}/subscribers": {
            "get": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "Gets a list of all subscribers of a subscriber list.",
                "description": "Returns a JSON list of all subscribers for a subscriber list.",
                "operationId": "6cfcb3c8ae96935d2833e98bde0e5c92",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "List ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Subscriber"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "Create subscription",
                "description": "Subscribe subscriber to a list.",
                "operationId": "877e873f40fb0c4c97ec3db92d90eebc",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "List ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass session credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "emails"
                                ],
                                "properties": {
                                    "emails": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "email"
                                        },
                                        "example": [
                                            "test1@example.com",
                                            "test2@example.com"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Subscription"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlreadyExistsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "Delete subscription",
                "description": "Delete subscription.",
                "operationId": "c6a8ef93867e2c66bb70b86aba8b1ea8",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "List ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "emails",
                        "in": "query",
                        "description": "emails of subscribers to delete from list.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscriber or subscription not found."
                    }
                }
            }
        },
        "/lists/{listId}/count": {
            "get": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "Gets the total number of subscribers of a list",
                "description": "Returns a count of all subscribers in a given list.",
                "operationId": "16541d0ca2e36cbc5f00979e0d55245f",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "List ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "subscribers_count": {
                                            "type": "integer",
                                            "example": 42
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/templates": {
            "get": {
                "tags": [
                    "templates"
                ],
                "summary": "Gets a list of all templates.",
                "description": "Returns a JSON list of all templates.",
                "operationId": "80405c8575b6a1c9db8619f187a6f91b",
                "parameters": [
                    {
                        "name": "session",
                        "in": "header",
                        "description": "Session ID obtained from authentication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Template"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "MessageContentRequest": {
                "properties": {
                    "subject": {
                        "type": "string",
                        "example": "Campaign Subject"
                    },
                    "text": {
                        "type": "string",
                        "example": "Full text content"
                    },
                    "text_message": {
                        "type": "string",
                        "example": "Short text message"
                    },
                    "footer": {
                        "type": "string",
                        "example": "Unsubscribe link here"
                    }
                },
                "type": "object"
            },
            "MessageFormatRequest": {
                "properties": {
                    "html_formated": {
                        "type": "boolean",
                        "example": true
                    },
                    "send_format": {
                        "type": "string",
                        "enum": [
                            "html",
                            "text",
                            "invite"
                        ],
                        "example": "html"
                    },
                    "format_options": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "text",
                                "html",
                                "pdf"
                            ]
                        },
                        "example": [
                            "html"
                        ]
                    }
                },
                "type": "object"
            },
            "MessageMetadataRequest": {
                "properties": {
                    "status": {
                        "type": "string",
                        "example": "draft"
                    }
                },
                "type": "object"
            },
            "MessageScheduleRequest": {
                "properties": {
                    "embargo": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-17 09:00:00"
                    },
                    "repeat_interval": {
                        "type": "string",
                        "example": "24 hours"
                    },
                    "repeat_until": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-30T00:00:00+04:00"
                    },
                    "requeue_interval": {
                        "type": "string",
                        "example": "12 hours"
                    },
                    "requeue_until": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-20T00:00:00+04:00"
                    }
                },
                "type": "object"
            },
            "MessageOptionsRequest": {
                "properties": {
                    "from_field": {
                        "type": "string",
                        "example": "info@example.com"
                    },
                    "to_field": {
                        "type": "string",
                        "example": "subscriber@example.com"
                    },
                    "reply_to": {
                        "type": "string",
                        "example": "reply@example.com"
                    },
                    "user_selection": {
                        "type": "string",
                        "example": "all-active-users"
                    }
                },
                "type": "object"
            },
            "UnauthorizedResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "No valid session key was provided as basic auth password."
                    }
                },
                "type": "object"
            },
            "ValidationErrorResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Some fields invalid: email, confirmed, html_email"
                    }
                },
                "type": "object"
            },
            "BadRequestResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Invalid json format"
                    }
                },
                "type": "object"
            },
            "AlreadyExistsResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "This resource already exists."
                    }
                },
                "type": "object"
            },
            "SubscriberList": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 2
                    },
                    "name": {
                        "type": "string",
                        "example": "Newsletter"
                    },
                    "description": {
                        "type": "string",
                        "example": "Monthly updates"
                    },
                    "creation_date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2022-12-01T10:00:00Z"
                    },
                    "public": {
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "Subscriber": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "email": {
                        "type": "string",
                        "example": "subscriber@example.com"
                    },
                    "creation_date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-01-01T12:00:00Z"
                    },
                    "confirmed": {
                        "type": "boolean",
                        "example": true
                    },
                    "blacklisted": {
                        "type": "boolean",
                        "example": false
                    },
                    "bounce_count": {
                        "type": "integer",
                        "example": 0
                    },
                    "unique_id": {
                        "type": "string",
                        "example": "69f4e92cf50eafca9627f35704f030f4"
                    },
                    "html_email": {
                        "type": "boolean",
                        "example": true
                    },
                    "disabled": {
                        "type": "boolean",
                        "example": false
                    },
                    "subscribed_lists": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SubscriberList"
                        }
                    }
                },
                "type": "object"
            },
            "Subscription": {
                "properties": {
                    "subscriber": {
                        "$ref": "#/components/schemas/Subscriber"
                    },
                    "subscriber_list": {
                        "$ref": "#/components/schemas/SubscriberList"
                    },
                    "subscription_date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-01-01T12:00:00Z"
                    }
                },
                "type": "object"
            },
            "TemplateImage": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 12
                    },
                    "template_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "mimetype": {
                        "type": "string",
                        "example": "image/png",
                        "nullable": true
                    },
                    "filename": {
                        "type": "string",
                        "example": "header.png",
                        "nullable": true
                    },
                    "data": {
                        "description": "Base64-encoded image data",
                        "type": "string",
                        "format": "byte",
                        "example": "iVBORw0KGgoAAAANSUhEUgAAA...",
                        "nullable": true
                    },
                    "width": {
                        "type": "integer",
                        "example": 600,
                        "nullable": true
                    },
                    "height": {
                        "type": "integer",
                        "example": 200,
                        "nullable": true
                    }
                },
                "type": "object",
                "nullable": true
            },
            "Template": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "example": "Newsletter"
                    },
                    "template": {
                        "type": "string",
                        "example": "Hello World!",
                        "nullable": true
                    },
                    "template_text": {
                        "type": "string",
                        "nullable": true
                    },
                    "order": {
                        "type": "integer",
                        "nullable": true
                    },
                    "images": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TemplateImage"
                        },
                        "nullable": true
                    }
                },
                "type": "object",
                "nullable": true
            },
            "Message": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "unique_id": {
                        "type": "string",
                        "example": "2df6b147-8470-45ed-8e4e-86aa01af400d"
                    },
                    "template": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Template"
                            }
                        ],
                        "nullable": true
                    },
                    "message_content": {
                        "properties": {
                            "subject": {
                                "type": "string",
                                "example": "Newsletter"
                            },
                            "text": {
                                "type": "string",
                                "example": "Hello World!"
                            },
                            "text_message": {
                                "type": "string"
                            },
                            "footer": {
                                "type": "string",
                                "example": "This is a footer"
                            }
                        },
                        "type": "object"
                    },
                    "message_format": {
                        "properties": {
                            "html_formated": {
                                "type": "boolean"
                            },
                            "send_format": {
                                "type": "string",
                                "example": "text",
                                "nullable": true
                            },
                            "as_text": {
                                "type": "boolean",
                                "example": true
                            },
                            "as_html": {
                                "type": "boolean"
                            },
                            "as_pdf": {
                                "type": "boolean"
                            },
                            "as_text_and_html": {
                                "type": "boolean"
                            },
                            "as_text_and_pdf": {
                                "type": "boolean"
                            }
                        },
                        "type": "object"
                    },
                    "message_metadata": {
                        "properties": {
                            "status": {
                                "type": "string",
                                "example": "sent"
                            },
                            "processed": {
                                "type": "boolean",
                                "example": true
                            },
                            "views": {
                                "type": "integer",
                                "example": 12
                            },
                            "bounce_count": {
                                "type": "integer"
                            },
                            "entered": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
                            "sent": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    "message_schedule": {
                        "properties": {
                            "repeat_interval": {
                                "type": "string",
                                "nullable": true
                            },
                            "repeat_until": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
                            "requeue_interval": {
                                "type": "string",
                                "nullable": true
                            },
                            "requeue_until": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
                            "embargo": {
                                "type": "string",
                                "example": "2023-01-01T12:00:00Z",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    "message_options": {
                        "properties": {
                            "from_field": {
                                "type": "string",
                                "example": " My Name <my@email.com>",
                                "nullable": true
                            },
                            "to_field": {
                                "type": "string",
                                "example": "",
                                "nullable": true
                            },
                            "reply_to": {
                                "type": "string",
                                "nullable": true
                            },
                            "user_selection": {
                                "type": "string",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "campaigns",
            "description": "campaigns"
        },
        {
            "name": "lists",
            "description": "lists"
        },
        {
            "name": "sessions",
            "description": "sessions"
        },
        {
            "name": "subscribers",
            "description": "subscribers"
        },
        {
            "name": "subscriptions",
            "description": "subscriptions"
        },
        {
            "name": "templates",
            "description": "templates"
        }
    ]
}